ol, ul, p {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.wrapper {
  overflow: hidden;
}

header {
  padding: 5px 0;
}
@media (max-width: 992px) {
  header .colum .nav {
    margin-left: 15px;
  }
}
header .colum .nav ul {
  gap: 0 30px;
}
header .colum .nav ul li {
  list-style: none;
}
header .colum .nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
}
@media (max-width: 768px) {
  header .colum .nav ul {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  header .colum .nav ul {
    text-align: center;
  }
}
header .colum .street a {
  font-family: "Golos Text", sans-serif;
  font-style: "Text Regular";
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #000;
}
@media (max-width: 992px) {
  header .colum .street {
    text-align: end;
  }
}
header .colum .phone_num a {
  margin: 4px 0 10px 0;
  font-family: "Golos Text", sans-serif;
  font-style: "Text Regular";
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #000;
}
header .colum .button_smaller {
  background-color: #19252C;
  border: none;
  border-radius: 5px;
  gap: 0 5px;
}
header .colum .button_smaller .address {
  color: #fff;
  font-family: "Golos Text", sans-serif;
  font-style: "Text Regular";
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
}

.hero {
  color: #fff;
  background: #19252C;
  margin-bottom: 80px;
}
.hero .hero_now {
  padding-left: 10px;
}
.hero .hero_now .cars_phone {
  position: relative;
}
.hero .hero_now .cars_phone .cars_imgs {
  position: absolute;
  top: 150px;
  left: 500px;
  right: 0;
}
@media (max-width: 992px) {
  .hero .hero_now .cars_phone .cars_imgs {
    position: absolute;
    top: 94px;
    left: 293px;
    right: 0;
  }
}
@media (max-width: 768px) {
  .hero .hero_now .cars_phone .cars_imgs {
    position: absolute;
    top: 41px;
    left: 193px;
    right: 0;
  }
}
@media (max-width: 480px) {
  .hero .hero_now .cars_phone .cars_imgs {
    position: absolute;
    top: 186px;
    left: -20px;
    right: 0;
  }
}
.hero .hero_now .text {
  padding: 52px 0 10px 0;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  line-height: 60px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .hero .hero_now .text {
    padding: 23px 0 10px 0;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
  }
}
.hero .hero_now .text_2 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .hero .hero_now .text_2 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
  }
}
.hero .hero_now .ref {
  padding: 51px 0 94px 0;
  text-decoration: none;
  color: #fff;
}
.hero .hero_now .ref a {
  padding: 12px 44px;
  background: #BE2B23;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.hero .hero_now .ref a:hover {
  background: #E31E25;
}
.hero .hero_now .minut {
  gap: 0 21px;
  padding-bottom: 58px;
}
.hero .hero_now .minut .left {
  gap: 0 15px;
  padding: 15px 18px 25px 15px;
  background: #fff;
  border-radius: 5px;
  color: #38434A;
}
.hero .hero_now .minut .right {
  gap: 0 15px;
  padding: 15px 18px 25px 15px;
  background: #fff;
  border-radius: 5px;
  color: #38434A;
}
@media (max-width: 768px) {
  .hero .hero_now .minut {
    margin-top: 90px;
    padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .hero .hero_now .minut {
    margin-top: 250px;
    flex-direction: column;
    gap: 10px 0;
  }
}

.why .title_why {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 600;
}
.why .text_why {
  padding: 14px 0 41px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.why .row .why_for {
  background-color: #FAFAFA;
}
.why .row .why_for .to .images_to {
  padding: 23px 0 17px 26px;
}
.why .row .why_for .to .num_why {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  color: #BDBDBD;
  margin: 5px 8px 0 0;
}
.why .row .why_for .avto_special_recursive {
  padding: 0 27px 36px 27px;
}
.why .row .why_for .avto_special_recursive .avto {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 600;
  padding: 0 0 10px 0;
}
.why .row .why_for .avto_special_recursive .special {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
.why .row .why_for:last-child {
  margin-top: 26px;
}
.why .zayavka {
  margin: 42px 0 80px 0;
}
.why .zayavka .avto_zayavka {
  padding: 12px 44px;
  background-color: #BE2B23;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  border-radius: 5px;
}
.why .zayavka .avto_zayavka:hover {
  background-color: #E31E25;
}

.cars {
  background-color: #121415;
  padding-bottom: 45px;
}
.cars .cars_vars .text_carss {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 600;
  padding: 64px 0 27px 0;
  color: #fff;
  text-align: center;
}
.cars .cars_vars .row .cars_on {
  background-color: #fff;
}
.cars .cars_vars .row .cars_on .cars_in .cars_titlee {
  padding: 24px 0 7px 24px;
  font-family: "Golos Text", sans-serif;
  font-size: 21px;
  line-height: 23px;
  font-weight: 400;
}
.cars .cars_vars .row .cars_on .car_ot {
  color: #E31E25;
  gap: 0 5px;
}
.cars .cars_vars .row .cars_on .car_ot .car_all {
  font-family: "Golos Text", sans-serif;
  font-size: 21px;
  line-height: 23px;
  font-weight: 400;
  padding: 0 0 13px 24px;
}
.cars .cars_vars .row .cars_on .car_ot .car_pod a {
  color: #E31E25;
  font-family: "Golos Text", sans-serif;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
}
.cars .cars_vars .row .cars_on .carss_img {
  padding: 0 15px 14px 15px;
}
@media (max-width: 992px) {
  .cars .cars_vars .row .cars_on .carss_img {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .cars .cars_vars .row .cars_on .carss_img {
    overflow: hidden;
  }
}
.cars .cars_vars .row .cars_on .cars_color {
  background-color: #ECEFF1;
  padding: 28px 23px 6px 27px;
}
.cars .cars_vars .row .cars_on .cars_color .car_element {
  gap: 0 10px;
}
.cars .cars_vars .row .cars_buy {
  text-align: center;
  margin-bottom: 30px;
}
.cars .cars_vars .row .cars_buy a {
  background-color: #E31E25;
  padding: 12px 44px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  color: #fff;
}
.cars .cars_vars .row .skidka {
  margin-top: 125px;
  background: linear-gradient(#FFFF00, #FF6400);
  padding-bottom: 30px;
}
.cars .cars_vars .row .skidka .skid_title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 60.77px;
  line-height: 90px;
}
@media (max-width: 480px) {
  .cars .cars_vars .row .skidka .skid_img {
    display: none;
  }
}
.cars .cars_vars .row .skidka .mini_title {
  padding: 5px 0 18px 0;
  gap: 0 43px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 23px;
}
.cars .cars_vars .row .skidka .skid_zay a {
  padding: 12px 44px;
  text-decoration: none;
  background-color: #E31E25;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  border-radius: 5px;
  color: #fff;
}
.cars .cars_vars .row .skidka .skid_zay a:hover {
  background-color: #BE2B23;
}
@media (max-width: 768px) {
  .cars .cars_vars .row .skidka {
    margin: 0;
  }
}

footer {
  background: #38434A;
  padding-bottom: 30px;
}
footer .footer_log {
  padding: 19px 0 8px 10px;
}
@media (max-width: 480px) {
  footer .footer_log .log_foot {
    text-align: center;
  }
}
footer .footer_log .foot_title a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #fff;
}
@media (max-width: 480px) {
  footer .footer_log .foot_title {
    text-align: center;
  }
}
footer .nas {
  padding-top: 35px;
}
footer .nas .nas_title {
  margin-bottom: 10px;
}
footer .nas .nas_title .ns {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  color: #fff;
}
footer .nas .social {
  gap: 0 25px;
}
footer .nas .nas_mini {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
}
footer .nas .nas_mini a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */